{% extends "utils/base.html" %}
 
{% block start %}
<div class="container my-5">
  <div class="row">

    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <img src="https://media.istockphoto.com/id/119926339/photo/resort-swimming-pool.jpg?s=612x612&w=0&k=20&c=9QtwJC2boq3GFHaeDsKytF4-CavYKQuy1jBD2IRfYKc=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
          <span class="badge text-bg-primary">Swimming Pool</span>
          <span class="badge text-bg-primary">AC</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <img src="https://media.istockphoto.com/id/119926339/photo/resort-swimming-pool.jpg?s=612x612&w=0&k=20&c=9QtwJC2boq3GFHaeDsKytF4-CavYKQuy1jBD2IRfYKc=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
          <span class="badge text-bg-primary">Swimming Pool</span>
          <span class="badge text-bg-primary">AC</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <img src="https://media.istockphoto.com/id/119926339/photo/resort-swimming-pool.jpg?s=612x612&w=0&k=20&c=9QtwJC2boq3GFHaeDsKytF4-CavYKQuy1jBD2IRfYKc=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
          <span class="badge text-bg-primary">Swimming Pool</span>
          <span class="badge text-bg-primary">AC</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <img src="https://media.istockphoto.com/id/119926339/photo/resort-swimming-pool.jpg?s=612x612&w=0&k=20&c=9QtwJC2boq3GFHaeDsKytF4-CavYKQuy1jBD2IRfYKc=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
          <span class="badge text-bg-primary">Swimming Pool</span>
          <span class="badge text-bg-primary">AC</span>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
